

.pagedButtonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;


    

}

.btn {
    margin: 1%;
    background-color: transparent;
    border-radius: 70%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    

    font-family: 'My Font Name';
    font-size: 30px;
    color:rgb(252, 252, 252);
    /* border-color: white; */
    -webkit-animation: glow 1000s ease-in-out infinite alternate;
    -moz-animation: glow 1000s ease-in-out infinite alternate;
    animation: glow 1000s ease-in-out infinite alternate;
 
}
@keyframes glow {
from {
  text-shadow:  0 0 20px #e70f0f, 0 0 30px #e91414, 0 0 40px #e91414, 0 0 50px #e60d0d, 0 0 30px #e61212;
}
to {
  text-shadow: 0 0 5px #fff, 0 0 7px #dd0a0a, 0 0 30px #df0a0a, 0 0 40px #d41111;
}
}
